<%- include('./partials/header.ejs') %>
<%- include('./partials/topRow.ejs', { loggedIn })%>
<h1>Monitoring app</h1>
<p>This is an app for monitoring your activities. You can report every morning your sleep duration, 
    quality and mood. For evening you can report your studying time, sports time, eating quality and mood</p>
<% if (!loggedIn) { %>
    <p>Register and login to the service to report and follow your activities!</p>
<% } %>
<% if (loggedIn) { %>
    <h4>Welcome <%= userEmail %>!</h4>
    <a href="/behavior/reporting" class='button'>Report</a>
    <a href="/behavior/summary" class='button'>Go to summary</a>
<% } %>
<h3>Average mood of all users for today:</h3>
<p><%= todaysMood %></p>
<h3>Average mood of all users for yesterday:</h3>
<p><%= yesterdaysMood %></p>
<h3>Trend:</h3>
<p><%= trend %></p>
<%- include('./partials/footer.ejs') %>
