<%- include('./partials/header.ejs') %>
<a href="/" class='button'>Home</a>

<h1>Login!</h1>

<form method="POST" action="/auth/login">
    <%- include('./partials/error.ejs', {errors: errors, attribute: 'email'}) %>
    <label for="loginEmail">Enter email:</label>
    <input id="loginEmail" type="email" name="email" value="<%= email %>" />

    <%- include('./partials/error.ejs', {errors: errors, attribute: 'password'}) %>
    <label for="loginPassword">Enter password:</label>
    <input id="loginPassword" type="password" name="password" />
    
    <input type="submit" value="Login!" />
</form>

<a href="/auth/register" class="button">Register</a>
<%- include('./partials/footer.ejs') %>
